<div class="row justify-content-start">
  <div class="col-12">
    <div class="card border-0 bg-light">
      <div class="card-body">
        <div class="row justify-content-start">
          <div class="col-12 col-md-8">
            <ul class="mt-3 ps-3">
              <li class="mb-1"><strong>GitHub profiles</strong>: <i class="sw_count">229,749</i></li>
              <li class="mb-1"><strong>Open to work</strong>:
                <i class="otw_count">24,072</i>
              </li>
              <li class="mb-1"><strong>Registered members</strong>: <i class="r_count">we are not live yet</i></li>
              <li class="mb-1"><strong>Stack size</strong>: <i class="ss_count">9</i></li>
            </ul>
          </div>
          <div class="col-12 col-md-4 text-end mt-md-auto mb-md-3">
            <a href="{{ .cta_link }}" class="btn btn-primary">{{ .cta_text }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>